html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #3e3e3e;
  font-size: 16px;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;